# macOS
.DS_Store
.AppleDouble
.LSOverride

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
env/
venv/

# Editor
.vscode/
.idea/

# Intermediate / temp
*.tmp
*.log
